<!DOCTYPE html>
<html lang="en">
<head>
	<title>Please Do the Checks</title>
	<style>
		body{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		h1{ margin-top:20px; }
	</style>
</head>
<body>
	<div>
		<h1>Please Do the Following in Sequence</h1>
		<h3>1. Agree the Consent Form</h3>
		<h3>2. Do the Headphone Check</h3>
		<h3>3. Do the Stereo Sound Check</h3>
		<h3>4. Complete at least one Practice Round</h3>
		<h3>5. Confirm your Practice Round Annotations</h3>
		<h3>6. Complete your annotation in the Annotation Interface</h3>
		<h3>7. Confirm your Annotation Interface's Annotations</h3>
		<h3>8. Then, you will be directed to a Submit Page</h3>
		<h2>You may restart everything. Thank you!</h2>
	</div>
	<script>
		localStorage.clear();
	</script>
</body>
</html>